<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="advanced_suggested_listing_data_source" xsi:type="string">Advanced\Suggested\Model\ResourceModel\Product\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <!-- <virtualType name="Advanced\Suggested\Model\ResourceModel\Product\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult"> -->
    <virtualType name="Advanced\Suggested\Model\ResourceModel\Product\Grid\Collection" type="Advanced\Suggested\Ui\Component\Listing\CustomerDataProvider">
        <arguments>
            <argument name="mainTable" xsi:type="string">tb_suggested_product</argument>
            <argument name="resourceModel" xsi:type="string">Advanced\Suggested\Model\ResourceModel\Product</argument>
        </arguments>
    </virtualType>
</config>